@value devices: '../../styles/devices.css';
@value md, xl from devices;

.portfolio header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 64px;
}

@media (min-width: md) {
    .portfolio header {
        flex-direction: row;
    }
}

.portfolio__title,
.portfolio header > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio header > div:first-child {
    flex-direction: row;
    align-items: center;
}

.portfolio__title > p:last-child {
    padding-left: 86px;
}

@media (min-width: xl) {
    .portfolio__title > p:last-child {
        padding-left: 236px;
    }
}

.portfolio header > div {
    align-items: flex-end;
}

.header-paragraph {
    margin-top: 28px;
    text-align: right;
}

@media (min-width: md) {
    .smaller-devices-only {
        display: none;
    }
}

.medium-or-higher-devices {
    display: none;
}

@media (min-width: md) {
    .medium-or-higher-devices {
        display: block;
    }
}

.portfolio .portfolio__row {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    margin: -16px;
}

@media (min-width: md) {
    .portfolio .portfolio__row {
        flex-wrap: nowrap;
    }
}

.portfolio .portfolio__row > * {
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
}

@media (min-width: md) {
    .portfolio .portfolio__row > * {
        width: 50%;
    }
}

@media (min-width: md) {
    .portfolio .portfolio__row > div:nth-child(2) {
        margin-top: 44px;
    }
}

.portfolio .portfolio__row > div:nth-child(2) > div:first-child {
    margin-bottom: 16px;
}

.portfolio-section__paragraph {
    color: #b1b1b1;
}
