:root {
    --primary-color: #f4f4f4;
    --secondary-color: #222324;
    --background: #222324;

    --primary-font: "Montserrat", sans-serif;
    --secondary-font: "Helvetica";
    --default-spacement: 120px;
}
