@value devices: './devices.css';
@value md from devices;

:root {
    --primary-color: #f4f4f4;
    --secondary-color: #222324;
    --background: #222324;

    --primary-font: "Montserrat", sans-serif;
    --secondary-font: "Helvetica";
    --default-spacement: 48px;
}

@media (min-width: md) {
    :root {
        --default-spacement: 120px;
    }
}
