@value devices: '../../styles/devices.css';
@value md from devices;

.header {
    display: flex;
    justify-content: space-between;
    padding: 36px 0;
    margin-bottom: var(--default-spacement);
}

.header h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

@media (min-width: md) {
    .header h1 {
        font-size: 32px;
        line-height: 39px;
    }
}

.desktop-menu {
    display: none;
}

@media (min-width: md) {
    .desktop-menu {
        display: block;
    }
}

@media (min-width: md) {
    .header .drawer-button {
        display: none;
        margin-right: -8px;
    }
}

.drawer :global .MuiDrawer-paper {
    background: var(--background);
    box-sizing: border-box;
    padding: 24px 16px;
    width: 100vw;
}

.drawer__row {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 96px;
}

.drawer__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}
