.portfolio-section .portfolio-section__img-wrapper {
    margin: 0 0 32px;
    overflow: hidden;
}

.portfolio-section img {
    transition: transform 500ms ease-in-out;
    width: 100%;
}

.portfolio-section img:hover {
    transform: scale(1.1);
}

.portfolio-section h4 {
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 16px;
}
