.about-me__paragraph {
    margin-left: auto;
    margin-bottom: 1em;
    max-width: 794px;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
}

.about-me__paragraph > span {
    background: #d9d9d9;
    color: var(--secondary-color);
}
