@value devices: '../../styles/devices.css';
@value md from devices;

.about-me > div:first-child {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}

.about-me p {
    margin-left: auto;
    margin-bottom: 1em;
    max-width: 794px;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
}

.about-me p:last-child {
    margin-bottom: 72px;
}

@media (min-width: md) {
    .about-me p:last-child {
        margin-bottom: 144px;
    }
}

.about-me p > span {
    background: #d9d9d9;
    color: var(--secondary-color);
}
